<footer id="pmui-footer">
    
    <div class="pmui-container">

        <div class="pmui-footer--copy">

            <p>{{ site.time | date: '%Y' }} &copy; {{ site.title }}</p>

        </div>

        <nav role="navigation" class="pmui-footer--nav">

            <ul>

                {% for social in site.socialmedia %}
                    
                    {% if social.name %}<li><a href="{{ social.link }}" target="_blank">{{ social.name }}</a></li>{% endif %}
                    
                {% endfor %}

            </ul>

        </nav>
        
    </div>

</footer>