<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

    {% include head.html %}

    <body id="pandamints" class="pm-theme--light pm-ui">

        <div class="pmui-wrapper">

            {% include header.html %}

            <main id="pmui-main" role="main">

				<section class="pmui-cta">

					<p>This site is owned and operated by <strong>María Rosa Quito Sánchez</strong> since <strong>2017</strong>.</p>

					<p>For any inquiry, please reach me through email at <strong>hello@pandamints.com</strong>.</p>

                	<p><strong>This page is made for legal verifcation only.</strong></p>

				</section>

            </main>

            {% include footer.html %}

        </div>

    </body>

</html>